.header{
    padding: 0 50px;
    height: 100px;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navs{
    display: flex;
    margin-left: 0;
}
.actions-cont{
    display: flex;
    justify-content:space-between;
    align-items: center
}
li{
    margin-right: 10px;
    padding: 5px 15px;
}
.btn-menu{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #0A192F;
    align-items: flex-end;
    border: none;
    display: none;
}
.bar-lg{
    display: inline-block;
    width: 33px;
    height: 1px;
    border-top: 2px solid #64ffda;
    margin-bottom: 7px;
}
.bar-md{
    display: inline-block;
    width: 28px;
    height: 1px;
    border-top: 2px solid #64ffda;
    margin-bottom: 7px;
}
.bar-sm{
    display: inline-block;
    width: 23px;
    height: 1px;
    border-top: 2px solid #64ffda;    
    margin-bottom: 7px;
}
.btn-close{
    color: #64ffda;
    border: none;
    background-color: #0A192F;
    font-size: 30px;
    z-index: 11;
}
.logo-text{
    color: #64ffda;
    z-index: 11;
}
.bg-blurr{
    background-color: rgba(10, 25, 47, 0.85);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
@media screen and (max-width: 700px){
    .btn-menu{
        display: flex;
    }
    .navs{
        display: none;
    }
    .actions-cont{
        width: 100%;
    }
    .header{
        padding: 0 20px;
        height: 68px;
    }
 }