<div class="cont">
    <div class="group-left">
        <div>
            <div class="head">
                <h2 class="font-secondary">Jhon Mendiola</h2>
                <h3 class="font-secondary mt-5">Software Engineer</h3>
                <h4 class="mt-15">frontend developer with 2+ years of experience in Angular. 
                    I specialize in creating user-friendly interfaces, 
                    efficient data handling, and dynamic web experiences with clean code
                </h4>
            </div>
            <div class="nav">
                <a href="/main/home#about" class="nav-link">
                    <span [class.active-line]="activeSection?.id === 'about'" class="line"></span>
                    <span [class.active-nav]="activeSection?.id === 'about'" class="nav-a">ABOUT</span>
                </a>
                <a href="/main/home#experience" class="nav-link">
                    <span [class.active-line]="activeSection?.id === 'experience'" class="line"></span>
                    <span [class.active-nav]="activeSection?.id === 'experience'" class="nav-a">EXPERIENCE</span>
  
                </a>
                <a href="/main/home#projects" class="nav-link"> 
                    <span [class.active-line]="activeSection?.id === 'projects'" class="line"></span>
                    <span [class.active-nav]="activeSection?.id === 'projects'" class="nav-a">PROJECTS</span>
                </a>
            </div>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" 
                fill="currentColor" class="h-6 w-6" aria-hidden="true">
                <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 
                    001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 
                    6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 
                    0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z">
                </path>
            </svg>
        </div>
    </div>
    <div class="group-right">
        <div class="sec" id="about">about</div>
        <div class="sec" id="experience">experience</div>
        <div class="sec" id="projects">projects</div>
    </div>
</div>