<div class="cont">
    <div class="group-left">
        <div>
            <div class="head">
                <h2 class="font-secondary">Jhon Mendiola</h2>
                <h3 class="font-secondary mt-5">Software Engineer</h3>
                <h4 class="mt-15 short-des">I'm an experienced Angular developer, specializing in responsive web app development 
                    with a focus on robust and user-friendly solutions.
                </h4>
            </div>
            <div class="nav">
                <a href="/main/home#about" class="nav-link">
                    <span [class.active-line]="activeSection?.id === 'about'" [class.line]="activeSection?.id != 'about'"></span>
                    <span [class.active-nav]="activeSection?.id === 'about'" class="nav-a">ABOUT</span>
                </a>
                <a href="/main/home#experience" class="nav-link">
                    <span [class.active-line]="activeSection?.id === 'experience'" [class.line]="activeSection?.id != 'experience'"></span>
                    <span [class.active-nav]="activeSection?.id === 'experience'" class="nav-a">EXPERIENCE</span>
  
                </a>
                <a href="/main/home#projects" class="nav-link"> 
                    <span [class.active-line]="activeSection?.id === 'projects'" [class.line]="activeSection?.id != 'projects'"></span>
                    <span [class.active-nav]="activeSection?.id === 'projects'" class="nav-a">PROJECTS</span>
                </a>
            </div>
        </div>
        <div class="btn-icon-cont">
            <a href="https://github.com/AngPayas055" class="icons-actions"><i class="fa-brands fa-github custom-icon mr-25"></i></a>
            <a href="https://www.linkedin.com/in/jhon-rey-mendiola-758685213/" class="icons-actions"><i class="fa-brands fa-linkedin custom-icon mr-25"></i></a>
            <a href="https://drive.google.com/file/d/1ZlCfcb9FupMqW3bHu6RDnnXfJVxabhV3/view?usp=sharing" class="icons-actions"><i class="fa-solid fa-file-pdf custom-icon"></i></a>
        </div>
    </div>
    <div class="group-right">
        <div class="sec" id="about">
            <div class="sec-title">ABOUT</div>
            <div class="about-contents">
                <p>
                    As a self-taught coder, I embarked on my coding journey by completing the 
                    <span class="font-secondary">Responsive Web Design certification</span> on freecodecamp. 
                    Seeking further knowledge, I enrolled in KodeGo's web development bootcamp. 
                    I gained practical experience handling websites for Japanese clients at a local company in the Philippines, including 
                    <span class="font-secondary">NIPT</span> and 
                    <span class="font-secondary">Easy Restaurant.</span>
                </p>
                <p class="mt-20">
                    Continuing my career, I joined an international company where I contributed to the development of 
                    <span class="font-secondary">Cinema360</span>, a versatile POS platform. 
                    My responsibilities encompassed crucial features such as the Company Dashboard, Digital Display, Concession Modifiers, and resolving bugs.
                </p>
                <p class="mt-20">
                    Outside of work, my passions lie in <span class="font-secondary">basketball</span> and 
                    <span class="font-secondary">bicycle touring</span>. In my downtime, I also enjoy playing Dota 2 and Clash of Clans. 
                    With a foundation in self-learning and industry experience, I am dedicated to honing my skills and embracing new challenges.
                </p>
            </div>
        </div>
        <div class="sec" id="experience">
            <div class="sec-title pl-20">EXPERIENCE</div>
            <a class="exp-cont">
                <div class="exp-left">JAN - MAY 2023</div>
                <div class="exp-right">                    
                    <h3 class="font-secondary exp-title">Frontend Dev • Aditri Tech World <i class="fa-solid fa-arrow-up-right-from-square custom-arr"></i></h3>                    
                    <h5 class="exp-des mt-10">I worked as an Angular frontend developer for "Cinema360," 
                        a POS platform that works on almost any device with a browser. During my time there, 
                        I was responsible for various features, including the Company Dashboard, Digital Display, 
                        Concession Modifiers, and resolving other bugs.
                    </h5>
                    <div class="mt-15">
                        <span class="capsule">Angular</span>
                        <span class="capsule">TypeScript</span>
                        <span class="capsule">Ngx-Bootsrap</span>
                        <span class="capsule">Azure Devops</span>
                        <span class="capsule">C#</span>
                        <span class="capsule">.NET</span>
                    </div>
                </div>
            </a>
            <a class="exp-cont"  href="https://human-incubator.com" target="_blank">
                <div class="exp-left">AUG 2021 - JAN 2023</div>
                <div class="exp-right">                    
                    <h3 class="font-secondary exp-title">Frontend Dev • Human Incubator Inc <i class="fa-solid fa-arrow-up-right-from-square custom-arr"></i></h3>                    
                    <h5 class="exp-des mt-10">I worked as an Angular frontend developer and contributed to two notable projects. 
                        One was Hiro Clinic NIPT, a web-based application for monitoring pregnancy health. 
                        The other was Easy Restaurant, a modern point of sale system to improve restaurant efficiency and customer experience.
                    </h5>
                    <div class="mt-15">
                        <span class="capsule">Angular</span>
                        <span class="capsule">TypeScript</span>
                        <span class="capsule">Material</span>
                        <span class="capsule">PrimeNG</span>
                        <span class="capsule">C#</span>
                        <span class="capsule">.NET</span>
                        <span class="capsule">Laravel</span>
                    </div>
                </div>
            </a>
            <a class="exp-cont"  href="https://kodego.ph" target="_blank">
                <div class="exp-left">MAY - AUG 2021</div>
                <div class="exp-right">                    
                    <h3 class="font-secondary exp-title">Developer Trainee • KodeGo <i class="fa-solid fa-arrow-up-right-from-square custom-arr"></i></h3>                    
                    <h5 class="exp-des mt-10">I received comprehensive training in full-stack web development, 
                        where I gained expertise in creating responsive webpages and developing full-stack applications. 
                    </h5>
                    <div class="mt-15">
                        <span class="capsule">Laravel</span>
                        <span class="capsule">React</span>
                        <span class="capsule">JavaScript</span>
                        <span class="capsule">Git</span>
                        <span class="capsule">GitHub</span>
                        <span class="capsule">HTML</span>
                        <span class="capsule">CSS</span>
                    </div>
                </div>
            </a>

        </div>
        <div class="sec" id="projects">
            <div class="sec-title">PROJECTS</div>
            <a class="exp-cont" href="https://jmendiola.com" target="_blank">
                <div class="exp-left">
                    <img src="./../../../../assets/img/proj-jac.png" alt="">
                </div>
                <div class="exp-right">                    
                    <h3 class="font-secondary exp-title">Jac Social <i class="fa-solid fa-arrow-up-right-from-square custom-arr"></i></h3>                    
                    <h5 class="exp-des mt-10">A full-stack social media app. Users can effortlessly create, read, update, 
                        and delete their content
                        and customize experience with Jac Social's dynamic features and themes.
                    </h5>
                    <div class="mt-15">
                        <span class="capsule">Angular</span>
                        <span class="capsule">TypeScript</span>
                        <span class="capsule">Material UI</span>
                        <span class="capsule">PHP - Laravel</span>
                        <span class="capsule">MySql</span>
                    </div>
                </div>
            </a>
            <a class="exp-cont" href="https://contact-manager-jhon-mendiola.vercel.app/" target="_blank">
                <div class="exp-left">
                    <img src="./../../../../assets/img/proj-contact.png" alt="">
                </div>
                <div class="exp-right">                    
                    <h3 class="font-secondary exp-title">Contact Manager <i class="fa-solid fa-arrow-up-right-from-square custom-arr"></i></h3>                    
                    <h5 class="exp-des mt-10">Contact Manager is an Angular Material-based application with a dynamic CRUD table, PDF export, 
                        interactive donut chart, and customizable button settings. Simplify contact management effortlessly.
                    </h5>
                    <div class="mt-15">
                        <span class="capsule">Angular</span>
                        <span class="capsule">TypeScript</span>
                        <span class="capsule">Material UI</span>
                        <span class="capsule">ChartJS</span>
                    </div>
                </div>
            </a>
            <a class="exp-cont"  href="https://jmendiola.vercel.app/landing" target="_blank">
                <div class="exp-left">
                    <img src="./../../../../assets/img/proj-jmv2.png" alt="">
                </div>
                <div class="exp-right">                    
                    <h3 class="font-secondary exp-title">JMendiola v2 <i class="fa-solid fa-arrow-up-right-from-square custom-arr"></i></h3>                    
                    <h5 class="exp-des mt-10">An old portfolion site build with Angular Primeng </h5>
                    <div class="mt-15">
                        <span class="capsule">Angular</span>
                        <span class="capsule">PrimeNG</span>
                        <span class="capsule">TypeScript</span>
                        <span class="capsule">HTML</span>
                        <span class="capsule">CSS</span>
                    </div>
                </div>
            </a>
            <a class="exp-cont" href="">
                <div class="exp-left">
                    <img src="./../../../../assets/img/proj-doc.png" alt="">
                </div>
                <div class="exp-right">                    
                    <h3 class="font-secondary exp-title">Doc <i class="fa-solid fa-arrow-up-right-from-square custom-arr"></i></h3>                    
                    <h5 class="exp-des mt-10">My debut webpage dedicated to medical and hospital information. Discover healthcare services, 
                        facilities, and valuable insights. Explore the world of medicine with Doc, your ultimate resource.
                    </h5>
                    <div class="mt-15">
                        <span class="capsule">JavaScript</span>
                        <span class="capsule">Bootsrap</span>
                        <span class="capsule">ChartJS</span>
                        <span class="capsule">HTML</span>
                        <span class="capsule">CSS</span>
                    </div>
                </div>
            </a>
        </div>
        <footer class="sec"  id="footer">
            <div class="about-contents">
                <p>
                    Loosely coded in <span class="font-secondary">Visual Studio</span>. Built with 
                    <span class="font-secondary">Angular</span>, deployed with <span class="font-secondary">Vercel</span>.
                </p>
            </div>            
        </footer>
    </div>
</div>