@import '../src/assets/styles/loader.css';
@import '../src/assets/styles/font.css';
@import '../src/assets/styles/utilities.css';
@import '../src/assets/styles/keyframes.css';
/* You can add global styles to this file, and also import other style files */
body{
    --font-primary: #94a3b8;
    --font-secondary: #e2e8f0;
    --font-highlight: #5eead4;
    --bg-primary: #0A192F
    
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    color: var(--font-primary)
}
ol{
    padding-inline-start: 0;
}
li{
    list-style: none;
}

